.article{
  margin: 15px;
  margin-top: 30px;
  background: #eee;
  opacity: 1.0;
}

.img-article{
  height: 290px;
  width: 300px;
  float: left;
  margin-right: 35px;
     box-sizing: inherit;
}

article{
	display: block;
}

#construccion{
	 width: 100%;
	 height: 100%;
}


