/*encabezado*/
.site-header{
	display: block;
	text-align: center !important;
	margin-left: -15px;
    margin-right: -15px;
    text-transform: uppercase;
    font-size: 90%;
    margin-bottom: 5px;
}
.h1-title{
	margin-bottom: 0px;
    text-transform: uppercase;
}

/*fin del encabezado*/

/*Estilos de menu*/
.navbar {
  overflow: hidden;
  background-color: #333;
  margin-top: 12px;
  margin: 15px;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center  ;
  padding: 14px 16px;
  text-decoration: none;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.option{
 text-align: center;
}
/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #33528F;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #33528F;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
/*Fin estilos de menu*/

/*etiquetas generales*/
body{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 1.618;
    color: #646464;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    color: #363636;
}
/*fin de etiquetas generales*/